<!DOCTYPE html>
<html lang="es">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Irbis Ayuda</title>
  <link rel="stylesheet" href="/Irbis/Terminal/assets/help.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Interfaz de Línea de Comandos</h1>
        </header>

        <section class="intro">
            <p>Aquí encontrará los comandos y ejemplos escenciales para poder 
            utilizar el framework e instalar las aplicaciones que necesite.</p>
        </section>

        <hr/>
        <section class="commands">
            <h2>Comandos Disponibles</h2>
            
            <fieldset class="command-group">
                <legend><b>Gestión de Repositorios</b></legend>
                
                <p>Puedes clonar un repositorio que contenga aplicaciones compatibles, 
                y gestionarlos con comandos "git" para mayor facilidad.</p>
                <code>git clone &lt;url&gt;</code>
                <p>Las aplicaciones compatibles deben tener una nomenclatura específica,
                deben iniciar con un nombre de paquete, seguido del texto "Apps".</p>
                <p>Por ejemplo, el repositorio de aplicaciones del mismo framework Irbis es:</p>
                <code>git clone https://github.com/dulivu/IrbisApps.git</code>
            </fieldset>

            <fieldset class="command-group">
                <legend><b>Navegación y Listado</b></legend>
                
                <p>Puedes listar las aplicaciones disponibles con el siguiente comando</p>
                <code>ls apps</code>
                <p>Las aplicaciones ya instaladas se marcarán en verde.</p>
                <p>"ls" se comporta como el comando tradicional de Unix/Linux. Por lo que 
                puedes enviar opciones adicionales para filtrar o modificar la salida.</p>
                <p>Por ejemplo, para listar las aplicaciones dentro de un paquete específico:</p>
                <code>ls -d &lt;paquete&gt;/*/</code>
            </fieldset>

            <fieldset class="command-group">
                <legend><b>Instalación y Gestión</b></legend>
                
                <p>Ahora puedes instalar tu primera aplicación con el comando "install" 
                seguido del nombre del paquete y la aplicación en el siguiente formato  
                &lt;paquete&gt;/&lt;aplicación&gt;, ejemplo:</p>
                <code>install IrbisApps/Cms</code>
                
                <p>De igual manera, puedes quitar una aplicación instalada 
                con el comando "remove". Ejemplo:</p>
                <code>remove IrbisApps/Cms</code>

                <p class="warning"><b>⚠️ Elimina el terminal. Úsalo solo cuando hayas 
                terminado de configurar tus aplicaciones.</b></p>
                <p>Esto impedirá que puedas acceder a él nuevamente. Cuando hayas terminado 
                de configurar tus aplicaciones. Tienes que correr este comando por seguridad.</p>

                <code>remove terminal</code>
                <div class="command-item">
                    
                    
                </div>
            </fieldset>

            <fieldset class="command-group">
                <legend><b>Otros comandos</b></legend>
                <p>Para revisar la versión del framework</p>
                <code>version</code>
                <p>Para limpiar la pantalla del terminal</p>
                <code>clear</code>
                <p>Para ver la fecha y hora del servidor</p>
                <code>date</code>
                <p>Para ver el usuario actual del sistema</p>
                <code>whoami</code>
                <p>Para ver la información detallada de un módulo, ejemplo:</p>
                <code>help IrbisApps/Cms</code>
            </fieldset>
        </section>
    </div>
</body>
</html>