<!DOCTYPE html>
<html lang="es">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Irbis</title>
  <link rel="stylesheet" href="/Irbis/Terminal/assets/terminal.css">
</head>
<body>
  <form class="nano" method="POST">
    <input type="submit" name="save" value="Guardar">
    <input type="submit" name="delete" value="Eliminar">
    <textarea name="file_content">{file_content}</textarea>
  </form>
</body>
</html>
