html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
    font-size: 13px;
    line-height: 1.5em;
}

code {
    display: block;
    background-color: #ddd;
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid black;
}

fieldset + fieldset {
    margin-top: 2em;
}